[Unit]
Description=Consul
After=network-online.target

[Service]
ExecStart={{ bin_dir }}/consul agent -config-file={{ config_dir }}/consul.json -config-dir={{ config_dir}}/consul -pid-file={{ pid_dir }}/consul
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=consul.service
