{
  "node_name": "%%node-name%%",
  "data_dir": "{{ data_dir }}/consul",
  "bind_addr": "0.0.0.0",
  "server": true,
  "ui": true,
  "bootstrap_expect": 3,
  "client_addr": "0.0.0.0",
  "retry_join": ["%%join-master-1%%", "%%join-master-2%%"]
}
