[Unit]
Description=Flanneld
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/flanneld
ExecStart={{ bin_dir }}/flanneld --etcd-endpoints=http://${MANAGER_0_IP}:2379,http://${MANAGER_1_IP}:2379,http://${MANAGER_2_IP}:2379 --iface=${NODE_IP} --ip-masq
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=flanneld.service
