[Unit]
Description=Nomad
After=consul.service

[Service]
ExecStart={{ bin_dir }}/nomad agent -config {{ config_dir }}/nomad/base.hcl -config {{ config_dir }}/nomad/node.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=nomad.service
